{% load static %}

<html>
<link rel="stylesheet" type="text/css" href="{% static "form_styling.css"%}"/>

<body>

<div id="all">
<div class="container">  
	<div class="inside">
		<form id="/signupexpert" class="linkform" method="post">
		{% csrf_token %}
			<div class="form-title-row">
			<h1>Linkpedia Expert Sign Up</h1>
			</div>
			<div class="form-row">
				<label>Name: </label>
				<input name="name" type="text" tabindex="1" required autofocus /><br>
			</div>
			<div class="form-row">
				<label>Username:</label>
				<input name="username" type="text" tabindex="2" required /><br>
			</div>
			<div class="form-row">
				<label>Password:</label>
				<input name="ogpword" type="password" tabindex="3" required /><br>
			</div>
			<div class="form-row">
				<label>Confirm Password:</label>
				<input name="password" type="password" tabindex="4" required /><br>
			</div>
			<div class="form-row">
				<label>Email:</label>
				<input name="email" type="email"tabindex="7" required /><br>
			</div>
            <div class="form-row">
				<label>Linkedin Username:</label>
				<input name="linkedin" type="text"tabindex="7" required /><br>
			</div>
			<div class="form-row" id="last">
				<input type="submit" class="button"/><br>
			</div>
			<p>{{donotmatch}}</p>
		</form>
	</div>
</div>
</div>
</body>
</html>

