{% load static %}

<html>
<link rel="stylesheet" type="text/css" href="{% static "form_styling.css"%}"/>

<body>

<div id="all">
<h1>User Sign Up</h1>
<form id="/signupform" method="post" >
{% csrf_token %}
<label>Email:</label>
	<input name="email" type="text"/><br>
	<label>Username:</label>
	<input name="username" type="text"/><br>
	<label>Password:</label>
	<input name="ogpword" type="password"/><br>
	<label>Confirm Password:</label>
	<input name="password" type="password"/><br>
	<p>{{donotmatch}}</p>
	<input type="submit"/>
</form>
</body>
</html>